#
# Copyright Debezium Authors
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#
name: Debezium Quarkus CI

on:
  push:
    branches:
      - main
      - 1.*
      - 2.*
      - 3.*
      - 4.*
    paths-ignore:
        - '*.md'

env:
  MAVEN_FULL_BUILD_PROJECTS: ":quarkus-debezium-extensions-parent,:debezium-quarkus-outbox-common-parent,:debezium-quarkus-outbox-common,:debezium-quarkus-outbox-deployment-common,:debezium-quarkus-outbox-parent,:debezium-quarkus-outbox,:debezium-quarkus-outbox-deployment,:debezium-quarkus-outbox-integration-tests,:debezium-quarkus-outbox-reactive-parent,:debezium-quarkus-outbox-reactive,:debezium-quarkus-outbox-reactive-deployment,:debezium-quarkus-outbox-reactive-integration-tests,:quarkus-debezium-parent,:quarkus-debezium-engine-spi-parent,:quarkus-debezium-engine-spi,:quarkus-debezium-engine-deployment-spi,:quarkus-debezium-engine-parent,:quarkus-debezium-engine,:quarkus-debezium-engine-deployment,:quarkus-debezium-agroal-parent,:quarkus-debezium-agroal,:quarkus-debezium-agroal-deployment,:quarkus-debezium-testsuite-parent,:quarkus-debezium-testsuite-deployment,:quarkus-debezium-testsuite-integration-tests,:quarkus-debezium-postgres-parent,:quarkus-debezium-postgres,:quarkus-debezium-postgres-deployment,:quarkus-debezium-postgres-integration-tests,:quarkus-debezium-mongodb-parent,:quarkus-debezium-mongodb,:quarkus-debezium-mongodb-deployment,:quarkus-debezium-mongodb-integration-tests,:quarkus-debezium-sqlserver-parent,:quarkus-debezium-sqlserver,:quarkus-debezium-sqlserver-deployment,:quarkus-debezium-sqlserver-integration-tests,:quarkus-debezium-mysql-parent,:quarkus-debezium-mysql,:quarkus-debezium-mysql-deployment,:quarkus-debezium-mysql-integration-tests,:quarkus-debezium-mariadb-parent,:quarkus-debezium-mariadb,:quarkus-debezium-mariadb-deployment,:quarkus-debezium-mariadb-integration-tests"


jobs:
  build-debezium-quarkus-dependencies:
    name: "Build Debezium & Dependencies"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Debezium Quarkus Extensions repository
        uses: actions/checkout@v6
        with:
          path: debezium-quarkus
      - name: Checkout core repository with default base branch
        uses: actions/checkout@v6
        with:
          repository: debezium/debezium
          path: core
      - name: Checkout db2 repository with default base branch
        uses: actions/checkout@v6
        with:
          repository: debezium/debezium-connector-db2
          path: db2
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: debezium/debezium/.github/actions/maven-cache@main
        with:
          key: debezium-quarkus-CI-build-${{ hashFiles('debezium-quarkus/**/pom.xml') }}
      - name: Maven build core
        run: ./debezium-quarkus/mvnw clean install -f core/pom.xml -DskipTests -DskipITs -Dformat.formatter.goal=validate -Dformat.imports.goal=check -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120
      - name: Maven build db2
        run: ./debezium-quarkus/mvnw clean install -f db2/pom.xml -DskipTests -DskipITs -Dformat.formatter.goal=validate -Dformat.imports.goal=check -Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false -Dmaven.wagon.httpconnectionManager.ttlSeconds=120

  check_style:
    name: "Checkstyle and Formatting"
    needs: [ build-debezium-quarkus-dependencies ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6
      - uses: debezium/debezium/.github/actions/checkstyle-format@main
        with:
          maven-cache-key: debezium-quarkus-CI-build-${{ hashFiles('**/pom.xml') }}
  build_outbox:
    name: "Outbox Extension"
    needs: [ check_style, build-debezium-quarkus-dependencies ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6
      - uses: ./.github/actions/build-debezium-outbox
        with:
          maven-cache-key: debezium-quarkus-CI-build-${{ hashFiles('**/pom.xml') }}
  build_extensions:
    name: "Debezium Quarkus Extensions"
    needs: [ check_style, build-debezium-quarkus-dependencies ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6
      - uses: ./.github/actions/build-quarkus-extensions
        with:
          maven-cache-key: debezium-quarkus-CI-build-${{ hashFiles('**/pom.xml') }}