#
# Copyright Debezium Authors
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#
# Cross CI workflow is triggered on a `pull_request` event.
# It builds the Debezium core before building the Debezium Server basing on either the `main` branch or the `pull_request` branch.
# If a `pull_request` with same branch name is present in the Debezium's upstream core repository, then the core build of this `pull_request`
# will be based on `pull_request` branch of user's Debezium core repository.
# Otherwise the core build of this `pull_request` will be based on the `main` branch of Debezium's upstream core repository.

name: Debezium Quarkus PR

on:
  pull_request:
    branches:
      - main
      - 1.*
      - 2.*
      - 3.*
      - 4.*
    paths-ignore:
      - '*.md'

env:
  MAVEN_FULL_BUILD_PROJECTS: ":quarkus-debezium-extensions-parent,:debezium-quarkus-outbox-common-parent,:debezium-quarkus-outbox-common,:debezium-quarkus-outbox-deployment-common,:debezium-quarkus-outbox-parent,:debezium-quarkus-outbox,:debezium-quarkus-outbox-deployment,:debezium-quarkus-outbox-integration-tests,:debezium-quarkus-outbox-reactive-parent,:debezium-quarkus-outbox-reactive,:debezium-quarkus-outbox-reactive-deployment,:debezium-quarkus-outbox-reactive-integration-tests,:quarkus-debezium-parent,:quarkus-debezium-engine-spi-parent,:quarkus-debezium-engine-spi,:quarkus-debezium-engine-deployment-spi,:quarkus-debezium-engine-parent,:quarkus-debezium-engine,:quarkus-debezium-engine-deployment,:quarkus-debezium-agroal-parent,:quarkus-debezium-agroal,:quarkus-debezium-agroal-deployment,:quarkus-debezium-testsuite-parent,:quarkus-debezium-testsuite-deployment,:quarkus-debezium-testsuite-integration-tests,:quarkus-debezium-postgres-parent,:quarkus-debezium-postgres,:quarkus-debezium-postgres-deployment,:quarkus-debezium-postgres-integration-tests,:quarkus-debezium-mongodb-parent,:quarkus-debezium-mongodb,:quarkus-debezium-mongodb-deployment,:quarkus-debezium-mongodb-integration-tests,:quarkus-debezium-sqlserver-parent,:quarkus-debezium-sqlserver,:quarkus-debezium-sqlserver-deployment,:quarkus-debezium-sqlserver-integration-tests,:quarkus-debezium-mysql-parent,:quarkus-debezium-mysql,:quarkus-debezium-mysql-deployment,:quarkus-debezium-mysql-integration-tests,:quarkus-debezium-mariadb-parent,:quarkus-debezium-mariadb,:quarkus-debezium-mariadb-deployment,:quarkus-debezium-mariadb-integration-tests"

jobs:
  check_style:
    name: "Checkstyle and Formatting"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6
      - uses: debezium/debezium/.github/actions/checkstyle-format@main
        with:
          maven-cache-key: maven-debezium-test-build-${{ hashFiles('**/pom.xml') }}
  build_outbox:
    name: "Outbox Extension"
    needs: [ check_style ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6
      - uses: ./.github/actions/build-debezium-outbox
        with:
          maven-cache-key: maven-debezium-test-build-${{ hashFiles('**/pom.xml') }}
  build_extensions:
    name: "Debezium Quarkus Extensions"
    needs: [ check_style ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Action
        uses: actions/checkout@v6
      - uses: ./.github/actions/build-quarkus-extensions
        with:
          maven-cache-key: maven-debezium-test-build-${{ hashFiles('**/pom.xml') }}